@model IEnumerable<Message>

<div class="card-header fs-3">
    <h4>My Messages</h4>
</div>

<table class="table table-primary table-bordered table-striped mb-0">
    <tr>
        <th class="text-center">Sender</th>
        <th class="text-center">Receiver</th>
        <th class="text-center">Date Sent</th>
        <th class="text-center">Theme</th>
    </tr>
    @if (!Model.Any())
    {
        <tr>
            <td colspan="4"
            class="text-center">
                No Messages
            </td>
        </tr>
    }
    else
    {
        foreach (var message in Model)
        {
            <tr>
                <td>@(message.Sender == User?.Identity?.Name ? "Me" : message.Sender)</td>
                <td>@(message.Receiver == User?.Identity?.Name ? "Me" : message.Receiver)</td>
                <td>@message.DateSent.ToLocalTime()</td>
                <td>
                    <button class="btn btn-sm btn-outline-dark"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseBody"
                    aria-expanded="false"
                    aria-controls="collapseBody">
                        @message.Theme
                    </button>
                </td>
            </tr>

            <tr class="collapse" id="collapseBody">
                <td colspan="4">
                    <div class="card card-body">
                        @message.Body
                    </div>
                </td>
            </tr>
        }
    }
</table>