@model IEnumerable<UsersConnectedStatusViewModel>

<div class="card-body">
    <div class="alert-danger" id="validationErrors"></div>

    <div class="mb-3">
        <label class="form-label" for="receiver">User (Online ones marked green)</label>
        <select class="form-control" id="receiver">
            <option selected disabled></option>
            @foreach (var userViewModel in Model)
            {
                if (userViewModel.IsConnected)
                {
                    <option value="@userViewModel.UserName" class="bg-success p-2 text-dark bg-opacity-25">@userViewModel.UserName</option>
                }
                else
                {
                    <option value="@userViewModel.UserName">@userViewModel.UserName</option>
                }
            }
        </select>
    </div>
    <input hidden class="form-control" type="text" id="user" value="@User.Identity.Name" />
    <div class="mb-3">
        <label class="form-label" for="theme">Theme</label>
        <input class="form-control" type="text" id="theme" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="message">Message</label>
        <textarea class="form-control" id="message"></textarea>
    </div>
    <input type="button" class="btn btn-primary" id="sendButton" value="Send Message" />
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
@*todo: table from, to theme, message*@
<div class="row">
    <div class="mb-3">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Theme</th>
                    <th>Message</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody id="messages">
            </tbody>
        </table>
    </div>
</div>

@{
    await Html.RenderPartialAsync("Shared/_MessengerScriptsPartial");
}